@page {
  size: A4;
}

.ace_editor {
  width: 100% !important;
}

body {
  background: #f1f1f1;
  padding-top: 145px;
}

.ace_editor {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.MuiContainer-root {
  padding-top: 50px;
}

.book-container {
  height: calc(100vh - 145px);
  overflow: auto;

  .book {
    margin-bottom: 50px;
    padding: 20px 0px;
    background: #ffffff;
    
    .block {
      position: relative;
      padding-left: 3em;
      padding-right: 3em;

      .editor {
        min-height: 5em;
        margin: 20px 0px;

        &:hover {
          .sidebar {
            .add, .run {
              height: 1.5em;
              opacity: 1;
            }
          }
        }

        .sidebar {
          position: absolute;
          left: 1em;
          text-align: center;
          padding-right: 5px;

          .add, .run {
            transition: height ease 0.2s, opacity ease 0.2s;
            opacity: 0;
            height: 0;
          }

          .run {
            cursor: pointer;
            color: green;
          }

          .add {
            cursor: pointer;
            color: #cccccc;
          }

          .status-failed {
            color: red;
          }

          .status-runned, .status-cached {
            color: green;
          }

          .status-idle, .status-skipped {
            color: #cccccc;
          }
        }

        &.has-error {
          .monaco-editor .overflow-guard {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }

          .error {
            max-height: 120px;
            pre {
              height: calc(120px - 1.5em);
              overflow-y: scroll;
            }
          }
        }

        .error {
          max-height: 0em;
          font-family: monospace;
          font-size: 12px;
          background-color: #e8b5b5;
          transition: max-height ease 0.5s;
          padding-left: 0.2em;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          overflow: hidden;

          summary {
            height: 1.5em;
            padding: 0px 0.3em;
            outline: none;

            span {
              float: right;
            }
          }

          pre {
            padding: 0.3em;
          }

          pre::-webkit-scrollbar {
            background-color: transparent;
            width: 3px;
            height: 3px;
          }

          pre::-webkit-scrollbar-thumb {
            background-color: #888888;
            border-radius: 3px;
          }

          pre::-webkit-scrollbar-track {
            margin-bottom: 5px;
          }
        }

        .execution-details {
          font-size: 14px;
          color: #666666;
          text-align: right;

          .time {
            .value {
            font-family: monospace;
              display: inline-block;
            }
          }
        }
      }

      .result {
        page-break-inside: avoid;
        margin-top: 20px;
      }
    }
  }

  .progressbar {
    &.book-state-idle {
      transition: height 0s linear 1s;
      height: 0;
      .MuiLinearProgress-bar {
        transition: transform 0s linear 1.01s;
        transform: translateX(-100%) !important;
      }
    }

    &.book-state-running {
      height: 3px;
    }
  }
}

@media print {
  body {
    padding: 0px;
    width: 210mm;
  }

  .MuiContainer-root {
    padding: 0px !important;
  }

  .book-container {
    height: auto;
  
    .book {
      margin: 0px;
      padding: 0px;

      .editor {
        display: none;
      }
    }
  }

  header {
    display: none !important;
  }
}

.ace_autocomplete {
  width: 200px !important;
}

.monaco-editor {
  background-color: transparent !important;

  .overflow-guard {
    border-radius: 5px;
    background-color: #282a36 !important;
  }

  .monaco-editor-background,
  .inputarea.ime-input,
  .margin {
    background-color: #282a36 !important;
  }

  .view-overlays .current-line {
    border: none !important;
    background-color: #44475a !important;
  }
}
